header {
    background-color: #00623B; /* Starbucks green */
    color: #fff;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-3, .col-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .col-3 {
      width: 25%;
    }
    .col-9 {
      width: 75%;
    }
  }
  
  .inner-logo {
    text-align: center;
  }
  
  .inner-menu {
    display: flex; /* Make the menu items display horizontally */
    justify-content: space-between; /* Distribute items evenly with some spacing */
    list-style: none; /* Remove list style */
    padding: 0;
  }
  
  .inner-menu li {
    margin: 0 10px; /* Adjust spacing between menu items */
  }
  
  .inner-menu a {
    text-decoration: none;
    color: #fff; /* Match text color to background */
    padding: 10px 15px;
  }
  
  .inner-menu a:hover {
    background-color: #16733C; /* Darker shade of green for hover */
  }
  
  footer.footer {
    background-color: #00623B; /* Starbucks green */
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  /* Submenu */
  .sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100px;
  top: 0;
}
.sub-menu ul li:hover > ul {
  display: block;
}
  /* End submenu */