extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")

    .chat
      .chat-container
        .chat-body
          each chat in chats
            div(class=(chat.user_id==user.id ? "chat-incoming" : "chat-outgoing"))
              if(chat.user_id!=user.id)
                .chat-name #{item.infoUser.fullName}
              .chat-content
                | #{chat.content}
           

        .chat-footer
          form.chat-form(action="", method="POST")
            input.chat-input(type="text" placeholder="Nhập nội dung..." name="content" required)
            button.chat-button(type="submit")
              i.fa-solid.fa-paper-plane
