.sider 
    .inner-menu 
        ul
            li
                a(href="/admin/dashboard") dashboard  
        ul
            li
                a(href="/admin/products-category") category           
        ul
            li
                a(href="/admin/products") products