.sider 
    .inner-menu 
        ul
            li
                a(href="/admin/dashboard") dashboard  
        ul
            li
                a(href="/admin/products-category") category           
        ul
            li
                a(href="/admin/products") products
        ul
            li
                a(href="/admin/roles") Roles
        ul
            li
                a(href="/admin/roles/permissions") Permissions
        ul
            li
                a(href="/admin/accounts") Accounts list